{% extends 'base.html'%}

{% block title %}
    Create a new post
{% endblock %}

{% block content %}


{% if user.is_authenticated %}
    <h1>Add Post</h1>
    <br /><br />
    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Post</button>
        <a href="{% url 'home' %}" class="btn btn-danger">Back</a>
    </div>
{% else %}

You are not logged in. Please log in to add a post.

{% endif %}




{% endblock %}