{% extends 'base.html'%}

{% block content %}



<h1>Post</h1>
<ul>
{% for post in object_list %}

    <li><a href= "{% url 'post-details' post.pk  %}">{{ post.title }}</a> - 
    <a href= "{% url 'category' post.category|slugify %}">{{ post.category }}</a> 
    {{ post.author.first_name }} {{ post.author.last_name }} 
                
    <small>
        - {{ post.post_date }} 
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                 
                <a href= "{% url 'post_edit' post.pk  %}">Edit</a>
                <a href= "{% url 'delete_post' post.pk  %}">Delete</a>
            {% endif %}    
    </small><br/>
        {{ post.body| slice:":200"|safe }}</li>
        
        {% endif %}

{% endfor %}
</ul>


{% endblock %}