{% extends 'base.html'%}
{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}


<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }}
    {{ post.author.last_name }}
    {{ post.post_date }}
   
    {% if user.is_authenticated %}
        <a href= "{% url 'post_edit' post.pk  %}">Edit</a>
        <a href= "{% url 'delete_post' post.pk  %}">Delete</a>    
    {% endif %}
</small><br/>
<br/>
{{ post.body }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-danger">Back</a>

{% endblock %}
