{% extends 'base.html'%}
{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}



<h1>{{ post.title }} - {{ post.author.id }}</h1>
<small>By: {{ post.author.first_name }}
    {{ post.author.last_name }}
    {{ post.post_date }}
   
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href= "{% url 'post_edit' post.pk  %}">Edit</a>
            <a href= "{% url 'delete_post' post.pk  %}">Delete</a>
        {% endif %}           
    {% endif %}
</small><br/>
<br/>
{{ post.body|safe }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-danger">Back</a>

<br/><br/>
<hr>
<br/>
<form action = "{% url 'like_post' post.pk %}"
mothod="POST">
    {% csrf_token %}

    {% if liked %}
        <button type="submit", name="post-id", value = "{{ post.id }}" class= "btn btn-danger btn-sm">Unlike</button>
        
    {% else %}
        <button type="submit" name="post-id" value = "{{ post.id }}" class= "btn btn-primary btn-sm">Like</button>
    
    {% endif %}
     - {{ total_likes }} Likes
</form>



{% endblock %}
